.contact-container{
    padding-top: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.contact-left{
    width: 45%;
}
.contact-image{
    width: 85%;
}
.contact-image img{
    width: 100%;
    height: 100%;
}
.contact-form {
    background: #121212;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    align-items: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.contact-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: #1e1e1e;
    color: white;
    border-radius: 5px;
    outline: none;
}
.contact-form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4c5fd7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.contact-form button:hover {
    background: #3b4cc0;
}
.illustration {
    width: 350px;
}