.login-page{
    padding-top: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.login-page .image{
    width: 40%;
}
img{
    width: 100%;
    height: 100%;
}
.login-form {
    background: #121212;
    padding: 30px;
    border-radius: 10px;
    width: 40%;
    align-items: center;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}
.login-form h2 {
    margin-bottom: 20px;
    text-decoration: underline;
}
.form label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}
.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: #1e1e1e;
    color: white;
    border-radius: 5px;
    outline: none;
}
.form button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #4c5fd7;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}
.form button:hover {
    background: #3b4cc0;
}
.illustration {
    width: 350px;
}