.service-section{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-color: #374151;
  }
  .containerservice {
        max-width: 950px;
        margin: 0 auto;
        padding: 1rem;
      }
      
      .service-section .title {
        font-size: 3rem;
        font-weight: bold;
        text-align: start;
        margin-bottom: 32px;
        position: relative;
        color: #d8d8d8;
      }
      
      .underline {
        border-bottom: 4px solid #3b82f6;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
      }
      
      .card {
        background-color: #1f2937;
        border: 1px solid #374151;
        padding: 16px;
        border-radius: 8px;
      }
      .card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
      }
      
  .card-image {
        width: 100%;
        height: 256px;
        object-fit: cover;
        margin-bottom: 16px;
      }
      
      .card-info {
        display: flex;
        justify-content: space-between;
        color: #aaacae;
        font-size: 0.875rem;
        margin-bottom: 8px;
      }
      
      .card-title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 8px;
        color: #aaadb2;
      }
      
      .card-description {
        color: #aaadb2;
      }
      .card h2, p{
        text-align: start;
      }